<div class="card mx-auto my-5" style="width: 30rem">
  <img
    class="card-img-top"
    src="https://i.pinimg.com/736x/ea/dd/76/eadd76e0e0db124afa854e93f689b844.jpg"
    alt="Card image cap"
  />
  <div class="card-body" style="background-color: #f1f3ff">
    <p class="card-text">
    </p>
  </div>
</div>
