.wrapper {
  width: 1000px;
  height: 700px;
  // background-image: url('https://i.pinimg.com/originals/3f/d5/51/3fd55118815892fed4459d52d4c9b0dc.gif');
  // background-image: url('https://cdn.dribbble.com/users/1197703/screenshots/6309551/welcome_gif_2.gif');
  // background-size: cover;
  .image-wrapper {
    width: 700px;
  }
}
