<div class="wrapper mx-auto">
  <div class="d-flex flex-column">
    <div class="mx-auto mb-0">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/517a3075897189.5c82d5832f838.gif" alt="">
    </div>
    <div class="mx-auto mt-0">
      <img src="https://i.pinimg.com/originals/e7/4b/38/e74b38cbb1cf9d5ddd4edf15557fedd1.gif" alt="">
    </div>
  </div>
</div>
