<div *ngIf="room$ | async as room">
  <app-sub-navbar title="{{ room.name }}'s Room Detail" link="rooms"></app-sub-navbar>
  <div class="w-25 mx-auto my-5">
    <div class="d-flex justify-content-between">
      <p>Room Id</p>
      <p>{{ room.id }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Room Name</p>
      <p>{{ room.name }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Room Password</p>
      <p>{{ room.password }}</p>
    </div>
  </div>
</div>
