<app-sub-navbar title="Create New Room" link="rooms"></app-sub-navbar>
<div class="w-25 mx-auto my-5">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Chat Room Name" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Chat Room Password" />
    </div>
    <div class="float-right">
      <button type="submit" class="btn btn-dark">Save</button>
    </div>
  </form>
</div>
