<nav
  class="navbar navbar-expand-lg navbar-light"
  style="
    background-image: url('https://images.unsplash.com/photo-1566410864800-87d35084f611?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  "
>
  <a class="navbar-brand" routerLink="/"> {{ title }} </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        >Home<span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" routerLink="/rooms" routerLinkActive="active">Rooms</a>
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </div>
</nav>
