<div class="w-50 mx-auto my-5">
  <div class="d-flex justify-content-center">
    <h2 class="text-center">Room List</h2>
  </div>
  <div class="d-flex justify-content-end">
    <a routerLink="/rooms/create" class="btn btn-dark mx-5 my-2 float-right">New Room</a>
  </div>
  <div class="list-group mx-5" *ngFor="let room of rooms$ | async">
    <div class="d-flex flex-row">
      <a [routerLink]="['/rooms', room.id, 'detail']" class="list-group-item list-group-item-action list-item">
        {{ room.name }}
      </a>
      <!-- <button class="btn btn-light">Messages</button> -->
      <a [routerLink]="['/rooms', room.id, 'messages']" class="btn btn-light text-center">Messages</a>
    </div>
  </div>
</div>
