<nav class="navbar sticky-top navbar-light" style="background-color: #f1f3ff">
  <div class="container">
    <div *ngIf="!back">
      <a routerLink="/{{link}}" class="btn btn-secondary float-right m-2">Back</a>
    </div>
    <a class="navbar-brand title">{{ title }}</a>
  </div>
</nav>
