<ng-container *ngIf="chatMessages$ | async"></ng-container>
<ng-container *ngIf="getUser$ | async as user"> </ng-container>
<ng-container *ngIf="getUsers$ | async as users">{{ user | json }} </ng-container>
<app-sub-navbar title="Chat Room" link="rooms"></app-sub-navbar>
<div class="page-wrapper">
  <div *ngIf="getUser$ | async as user">
    <div class="chat" *ngIf="messages$ | async as messages">
      <div class="chat__wrapper" *ngFor="let socketMessage of socketMessages.reverse()">
        <div *ngIf="socketMessage.userId !== user.id" class="chat__message">
          <div>{{ socketMessage.data }}</div>
        </div>
        <div *ngIf="socketMessage.userId === user.id" class="chat__message chat__message-own">
          <div>{{ socketMessage.data }}</div>
        </div>
      </div>
      <div class="chat__wrapper" *ngFor="let item of messages.reverse()">
        <div *ngIf="item.userId !== user.id" class="chat__message">
          <div>{{ item.data }}</div>
        </div>
        <div *ngIf="item.userId === user.id" class="chat__message chat__message-own">
          <div>{{ item.data }}</div>
        </div>
      </div>
    </div>
    <div class="chat__form">
      <form id="chat__form" [formGroup]="form" (ngSubmit)="send(form, user)">
        <input
          id="text-message"
          type="text"
          class="form-control"
          formControlName="message"
          placeholder="Type your message here ..."
        />
        <button [disabled]="!form.value['message']" type="submit" class="btn btn-light">Send</button>
      </form>
    </div>
    <div id="result"></div>
  </div>
</div>
