.page-wrapper{
  background-image: url("https://images.hdqwalls.com/download/serene-sunset-pic-3840x2400.jpg");

}
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:hover,
*:focus {
  outline: none;
}
.chat {
  width: 100%;
  max-width: 1000px;
  // max-height: 1120px;
  // height: 100%;
  height: calc(100vh - 180px);
  min-height: 100%;
  padding: 15px 30px;
  margin: 0 auto;
  background-color: white;
  transform: rotate(180deg);
  overflow-y: scroll;
  scroll-behavior: smooth;
  direction: rtl;
  &__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  &__message {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    color: #000;
    background-color: #e6e7ec;
    max-width: 600px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin: 15px 0;
    word-break: break-all;
    transform: rotate(180deg);
    direction: ltr;
    &:after {
      content: "";
      width: 20px;
      height: 12px;
      display: block;
      background-image: url("https://stageviewcincyshakes.firebaseapp.com/icon-gray-message.e6296433d6a72d473ed4.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      bottom: -2px;
      left: -5px;
    }
    &-own {
      color: #fff;
      margin-left: auto;
      background-color: #00a9de;
      &:after {
        width: 19px;
        height: 13px;
        left: inherit;
        right: -5px;
        background-image: url("https://stageviewcincyshakes.firebaseapp.com/icon-blue-message.2be55af0d98ee2864e29.png");
      }
    }
  }
}

.chat__form {
  // height: 100px;
  background-color: #e0e0e0;
  form {
    max-width: 800px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
  }
  input {
    height: 40px;
    font-size: 16px;
    min-width: 90%;
    padding-left: 15px;
    background-color: #fff;
    border-radius: 15px;
    border: none;
  }
  button {
    width: 10%;
    height: 100%;
    font-size: 16px;
    background-color: transparent;
    border: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}
