<app-sub-navbar title="Sign up" link="login"></app-sub-navbar>
<div class="w-25 mx-auto my-5">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-group">
      <label>E-mail</label>
      <input type="text" class="form-control" formControlName="email" placeholder="Your e-mail" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Your password" />
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Your name" />
    </div>
    <div class="float-right">
      <button type="submit" class="btn btn-dark">Sign up</button>
    </div>
  </form>
</div>
