/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

input {
  padding: 10px;
  border-radius: 15px !important;
  border-top: 0 !important;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
